.header {
    background-color: #005aa1;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.2rem;
}
